.nav-link a {
  color: #adb1b8;
  text-decoration: none;
}

.nav-link a:hover {
  color: white;
}

button a {
  color: #76787a;
  text-decoration: none;
}

button a:hover {
  color: black;
}

.carousel-item {
  height: "300px";
}